{% extends 'base.html' %}
{% load static %}
{% block title %}
Home
{% endblock %}

{% block content %}

<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img style="width: 100%" src="{% static 'img/image.jpg' %}" alt="">
    </div>
    <div class="carousel-item">
      <img style="width: 100%" src="{% static 'img/keshav3.jpg' %}" alt="">
    </div>
    <div class="carousel-item">
      <img style="width: 100%" src="{% static 'img/keshav1.jpg' %}" alt="">    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

  <div class="py-4">
    <div class="container">
      <div class="row">
        <div class="col-10 mx-auto my-2 text-center">
          <h1 class="text-captitalze font-weight-bold">
            All Products
          </h1>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      {% for product in products %}
      <div class="col-9 mx-auto col-md-6 col-lg-3">
        <div class="card mb-4" style="border-color: transparent;">
          <div class="p-4">
            <a href="{{product.get_url}}">
              <img src="{{product.image.url}}" class="card-img-top" alt="{{product.name}}">
            </a>

          </div>
          <div class="card-footer d-flex justify-content-between"
          style="background: transparent; border-color: transparent;">
            <p class="font-weight-bold mb-0">
              {{product.name}}
            </p>
            <h5 class="text-info font-italic mb-0">
              <span class="mr-1">₹</span> {{product.price}}
            </h5>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>



<div data-type="countdown" data-id="1875268" class="tickcounter" style="width: 100%; position: relative; padding-bottom: 20%"><a href="//www.tickcounter.com/countdown/1875268/hurry-sale-ends-soon" title="Hurry, Sale Ends Soon">Hurry, Sale Ends Soon</a><a href="//www.tickcounter.com/" title="Countdown">Countdown</a></div><script>(function(d, s, id) { var js, pjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//www.tickcounter.com/static/js/loader.js"; pjs.parentNode.insertBefore(js, pjs); }(document, "script", "tickcounter-sdk"));</script>

  
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="w3-container">
<a href="http://localhost/">
<strong>
<button class="w3-button w3-right" style="font-size:0px;  position: fixed;
  width: 90px;
  height: 80px;
  bottom: 35px;
  right: 28px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;"><i class="fa fa-commenting" style="font-size:65px;"></i></button>
</strong>

</a>
</div>


{% endblock %}
