<nav class="navbar navbar-expand-md navbar-light bg-dark">

  <a href="/" class="navbar-brand"><i class="fas fa-store text-warning fa-2x"></i></a>
  <button type="button" class="navbar-toggler bg-light" data-toggle="collapse"
  data-target="#nav" name="button"><span class="navbar-toggler-icon"></span></button>
  <div class="collapse navbar-collapse justify-content-between" id="nav">
  <ul class="navbar-nav">
    <li class="nav-item dropdown"><a class="nav-link text-light text-uppercase font-weight-bold px-3 dropdown-toggle"
      href="" data-toggle="dropdown">Categories</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'home' %}">All Products</a>
        {% for category in links %}
        <a class="dropdown-item" href="{{category.get_url}}">{{category.name}}</a>
        {% endfor %}

      </div>
    </li>
    <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'contact' %}">Contact</a></li>
    <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'about' %}">About</a></li>
    {% if request.user.is_authenticated and request.user.first_name %}
      <li class="nav-item dropdown">
        <a class="nav-link text-light text-uppercase font-weight-bold px-3 dropdown-toggle" data-toggle="dropdown">
          Welcome, {{ request.user.first_name }} <i class="fas fa-user circle"></i>
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'order_history' %}">Order History</a>

        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'signout' %}">
          Sign Out <i class="fas fa-sign-out-alt"></i>
        </a>
      </li>
    {% else %}
      <li class="nav-item">
        <a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'signup' %}">
          Sign Up <i class="fas fa-user-plus"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'signin' %}">
          Sign In <i class="fas fa-sign-in-alt"></i>
        </a>
      </li>
{% endif %}

    {% if item_count > 0 %}
    <li class="nav-item">
      <a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'cart_detail' %}">
        <i class="fas fa-shopping-cart"></i>({{item_count}})
    </a>
    {% endif %}
  </li>


<li class="nav-item">
<a class="nav-link text-light text-uppercase font-weight-bold px-3">
<style>
  [data-theme="dark"] {
  background-color: #222f3e !important;
  color: white;
}
[data-theme="dark"] .card{
  background-color: #576574 !important;
  border: 5px solid grey !important; 
}
[data-theme="dark"] .text-left{
  color: white; 
}
[data-theme="dark"] .keshav{
  color: white; 
}
[data-theme="dark"] .table{
  color: white; 
}
[data-theme="dark"] th{
  color: black; 
}
[data-theme="dark"] h2{
  color: black; 
}



</style>
</head>
  <div class="custom-control custom-switch">
  <input type="checkbox" class="custom-control-input" id="darkSwitch">
  <label class="custom-control-label" for="darkSwitch">Dark Mode</label>
  </div>
<script>
      const darkSwitch=document.getElementById("darkSwitch");function initTheme(){const e=null!==localStorage.getItem("darkSwitch")&&"dark"===localStorage.getItem("darkSwitch");darkSwitch.checked=e,e?document.body.setAttribute("data-theme","dark"):document.body.removeAttribute("data-theme")}function resetTheme(){darkSwitch.checked?(document.body.setAttribute("data-theme","dark"),localStorage.setItem("darkSwitch","dark")):(document.body.removeAttribute("data-theme"),localStorage.removeItem("darkSwitch"))}window.addEventListener("load",()=>{darkSwitch&&(initTheme(),darkSwitch.addEventListener("change",()=>{resetTheme()}))});
</script>

  </div>

</a>
</li>

  </ul>

  <form class="form-inline ml-3" action="", method="GET">
    <div class="input-group">
      <input type="text" name="title" class="form-control" placeholder="Search">
      <div class="input-group-append">
        <button type="submit" class="btn btn-warning"><i class="fas fa-search"></i></button>
      </div>
    </div>
  </form>
  </div>
</nav>

